/* AdminList.css */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
  }
  
  .admin-table th {
    background-color: #f2f2f2;
  }
  
  .update-btn, .delete-btn {
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .update-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
  }
  